<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<style>

</style>
<body>
<footer class="border-top" th:fragment="footer">
    <div class="container" style="border: none;background-color: black">
        <div class="rowFooter" style="width:100%; border:none;background-color: black ">

                <p class="text" style="width:auto;position: absolute;top:35%; font-size: 18px">©2023 ELEC5619 Lab Group 8</p>

        </div>
    </div>
</footer>
</body>
</html>