<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<style>

</style>
<body>
<footer class="border-top" th:fragment="footer">
    <div class="container">
        <div class="rowFooter" style="width:100%;">
<!--            <div class="col" style="color:white;">-->
<!--&lt;!&ndash;                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img class="logo" src="image/logo1.png"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
                <p class="text" style="width:auto;position: absolute;top:35%; font-size: 18px">©2023 ELEC5619 Lab Group 8</p>
<!--            </div>-->

<!--            <div class="col">-->

<!--            </div>-->

<!--            <div class="col">-->
<!--                <h5>Section</h5>-->
<!--                <ul class="nav flex-column">-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>-->
<!--                </ul>-->
<!--            </div>-->

<!--            <div class="col">-->
<!--                <h5>Section</h5>-->
<!--                <ul class="nav flex-column">-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>-->
<!--                </ul>-->
<!--            </div>-->

<!--            <div class="col">-->
<!--                <h5>Section</h5>-->
<!--                <ul class="nav flex-column">-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>-->
<!--                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</footer>
</body>
</html>