.logo {
    width: 100px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;

}

/*index.html*/
.mySlides {
    display: none;
    background-color: black;
}
.mySlides img {
    vertical-align: middle;
    width: 1200px;
    height: 815px;
    opacity: .6;

}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    top: 10%;
    bottom:10%;
    position: absolute;
    margin: auto;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.welcomeM{
    position: absolute;
    display: block;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 1.5;
    top: 25%;
    left:10%;
    width: 80%;
    font-weight: bold;
}

.welcomeM2{
    position: absolute;
    display: block;
    text-align: center;
    color: white;
    font-size: 35px;
    line-height: 1.5;
    top: 50%;
    left:10%;
    width: 80%;
    font-weight: bold;
}

.signupSH{
    width:25%;
    height:80px;
    bottom:20%;
    left:20%;
    display: block;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0,0,0, 0.7);
    border: none;
}

.signupSH:hover{
    background-color: rgba(130, 175, 133, 0.8);
}

.signupMO{
    width:25%;
    height:80px;
    bottom:20%;
    right:20%;
    display: block;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0,0,0, 0.7);
    border: none;
}

.signupMO:hover{
    background-color: rgba(130, 175, 133, 0.8);
}



.SHform-popup {
    width:70%;
    height:80%;
    display: none;
    position: absolute;
    top:10%;
    left:15%;
    right: 15px;
    background-color: white;
    border: none;
}

.MOform-popup {
    width:70%;
    height:80%;
    display: none;
    position: absolute;
    top:10%;
    left:15%;
    right: 15px;
    background-color: white;
    border: none;
}
/* Add styles to the form container */
.form-container {
    padding-top: 10px;
    width:80%;
    left: 10%;
    position: absolute;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[name=firstName], .form-container input[name=lastName]{
    width:35%;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    left:40%;
    position: absolute;
    bottom: -8%;
    opacity: 0.8;
    font-weight: bold;
}

/* Add a red background color to the cancel button */
.SHform-popup .cancel {
    color: black;
    font-size: 50px;
    background-color: white;
    width: 30px;
    right: 3%;
    top: 0%;
    position: absolute;
    border: none;
}

.SHform-popup .cancel:hover{
    color:red;
}

.MOform-popup .cancel {
    color: black;
    font-size: 50px;
    background-color: white;
    width: 30px;
    right: 3%;
    top: 0%;
    position: absolute;
    border: none;
}

.MOform-popup .cancel:hover{
    color:red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/*setting.html*/
.title{
    font-size: 45px;
    font-weight: 500;
    text-align: left;
    position: absolute;
    left: 5%;
    top: 15%;
}
.frameContainer{
    border:none;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0px 0px 5px grey;
    width:90%;
    height:65%;
    bottom:10%;
    left:5%;
}

.topSetting{
    width:90%;
    height:12%;
    left:5%;
    top:5%;
    position: absolute;
    border: none;
}

.userName{
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top:0%;
    left:0%;
}
.userGroup{
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    color: #6C6C6C;
    bottom:0%;
    left:0%;
}
.userID{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    color: #6C6C6C;
    bottom:0%;
    right:0%;
}
.line{
    height:2px;
    width:100%;
    background-color: #BBBBBB;
    top:20%;
    left:0%;
    position: absolute;
}

.settingForm{
    width:90%;
    height:80%;
    left:5%;
    bottom:0%;
    position: absolute;
    border: 3px red;
}
.setting-form {
    top:5%;
    left: 0%;
    width:50%;
    position: absolute;
}

/* Full-width input fields */
.setting-form label{
    font-weight: 500;
    margin-right: 3px;

}
.setting-form input[type=text], .setting-form input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: none;
    background: rgba(233,239,255,0.7);
}

.setting-form input[name=firstName], .setting-form input[name=lastName]{
    width:31%;
}


/* When the inputs get focus, do something */
.setting-form input[type=text]:focus, .setting-form input[type=password]:focus {
    background-color: rgba(233,239,255,1);
    outline: none;
}

.updateButton{
    border:none;
    background-color: #BEBEBE;
    color: black;
    position: absolute;
    bottom:5%;
    left:47.5%;
    width:8%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}
.pswChangeBtn{
    border:none;
    background-color: #BEBEBE;
    color: black;
    position: absolute;
    top:25%;
    right:15%;
    width:15%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

.pswChangeBtn:hover,.updateButton:hover{
    background-color: dimgray;
    color:white;
}


.pswForm-setting{
    width:90%;
    height:80%;
    right:5%;
    bottom:0%;
    display: none;
    position: absolute;
    border: 3px red;
}
.psw-form {
    top:20%;
    right: 0%;
    width:40%;
    position: absolute;
}

/* Full-width input fields */
.psw-form label{
    font-weight: 500;
    margin-right: 3px;

}
.psw-form input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: none;
    background: rgba(233,239,255,0.7);
}


/* When the inputs get focus, do something */
.psw-form input[type=text]:focus, .setting-form input[type=password]:focus {
    background-color: rgba(233,239,255,1);
    outline: none;
}

.confirmPsw{
    border:none;
    background-color: #9BB692;
    color: white;
    position: absolute;
    top:100%;
    right:38%;
    width:20%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

.confirmPsw:hover{
    background-color: darkgreen;
    color:white;
}

/*userhome.html*/
.userHomeTitle{
    font-size: 45px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    left: 5%;
    top: 15%;
}

.tab {
    overflow: hidden;
    border: none;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #6C6C6C;
    color: white;
    float: left;
    width:50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: block;
    width:100%;
    height: 100%;
    padding-top: 12px;
    border: none;
}

.bookingItem{
    border: none;
    position: absolute;
    margin-top: 10px;
    width:100%;
    height:20%;
}

.orderNum{
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
    color:black;
    top:5%;
    left:3%;
}
.marketStall{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: black;
    top:25%;
    left:3%;
}
.dateAddress{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    color: black;
    top:50%;
    left:3%;
}
.price{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: black;
    top:30%;
    left:50%;
}
.userline{
    height:2px;
    width:100%;
    background-color: #BBBBBB;
    position: absolute;
    left:0%;
    bottom:0%;
}

.viewBtn{
    border:none;
    background-color: #9BB692;
    color: white;
    position: absolute;
    top:20%;
    left:68%;
    width:12%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

.viewBtn:hover{
    background-color: #567722;
    color:white;
}

.cancelBtn{
    border:none;
    background-color: #A95B5B;
    color: white;
    position: absolute;
    top:20%;
    right:5%;
    width:12%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

.cancelBtn:hover{
    background-color: #951D1D;
    color:white;
}

.bookingHistoryItem{
    border: none;
    position: absolute;
    margin-top: 10px;
    width:100%;
    height:20%;
}

.priceHistory{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: black;
    top:30%;
    left:55%;
}


.viewBtn2{
    border:none;
    background-color: #9BB692;
    color: white;
    position: absolute;
    top:20%;
    right:5%;
    width:12%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

.viewBtn2:hover{
    background-color: #567722;
    color:white;
}

/*userhomeAdmin.html*/
.reviewBtn{
    border:none;
    background-color: darkgray;
    color: white;
    position: absolute;
    top:20%;
    left:48%;
    width:15%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
}

.reviewBtn:hover{
    background-color: dimgray;
    color:white;
}

.reviewBtn2{
    border:none;
    background-color: darkgray;
    color: white;
    position: absolute;
    top:20%;
    right:5%;
    width:15%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}

.reviewBtn2:hover{
    background-color: dimgray;
    color:white;
}

.approveBtn{
    border:none;
    background-color: #9BB692;
    color: white;
    position: absolute;
    top:20%;
    left:72%;
    width:10%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
}

.approveBtn:hover{
    background-color: #567722;
    color:white;
}

.denyBtn{
    border:none;
    background-color: #A95B5B;
    color: white;
    position: absolute;
    top:20%;
    right:5%;
    width:10%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
}

.denyBtn:hover{
    background-color: #951D1D;
    color:white;
}

.denyBtn2{
    border:none;
    background-color: #A95B5B;
    color: white;
    position: absolute;
    top:20%;
    right:5%;
    width:10%;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}

.denyBtn2:hover{
    background-color: #951D1D;
    color:white;
}

.blackLayer {
    width:100%;
    height:100%;
    display: none;
    position: absolute;
    overflow: hidden;
    top:0%;
    left:0%;
    background-color: rgba(0,0,0, 0.7);
    border: none;
}

.review-popup {
    width:70%;
    height:60%;
    display: none;
    position: absolute;
    top:15%;
    left:15%;
    background-color: white;
    border: none;
}

.review-popup .cancel {
    color: black;
    font-size: 50px;
    background-color: white;
    width: 30px;
    right: 3%;
    top: 0%;
    position: absolute;
    border: none;
}

.review-popup .cancel:hover{
    color:red;
}

.approveFormBtn {
    background-color: #9BB692;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 15%;
    left:30%;
    position: absolute;
    bottom: -18%;
    border-radius: 4px;
    font-weight: bold;
    display: block;
}


.approveFormBtn:hover{
    background-color: #567722;
    color:white;
}

.denyFormBtn{
    border:none;
    background-color: #A95B5B;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    position: absolute;
    width: 15%;
    right:30%;
    bottom: -18%;
    border-radius: 4px;
    font-weight: bold;
    display: block;
}

.denyFormBtn:hover{
    background-color: #951D1D;
    color:white;
}

.photoText{
    left:5%;
    top:15%;
    position: absolute;
}
.photoInput{
    right:0%;
    top:15%;
    position: absolute;
}
.photoDiv{
    left:5%;
    top:22%;
    width:90%;
    height:73%;
    position: absolute;
    box-shadow: 0px 0px 5px grey;
}
.displayed-image {
    max-width: 200px;
    margin-top: 10px;
    margin-right: 5px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: -5px 5px;
    cursor: pointer;
    margin-top: 15px;
}

.image-wrapper {
    margin-left: 35px;
    display: inline-block;
}