<!doctype html>
<html>
<head>
    <head th:include="fragments/header :: head"></head>
    <link href="../css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
</head>
<body>
<!--引入 templates/fragments/header.html中的navbar-->
<nav th:replace="fragments/header :: navbar"></nav>


<!--这部分是你要写的部分-->
<div class="slideshow-container1">

    <div class="mySlides1 fade">
        <img class="image" src="../image/market1.jpg" style="width:100%">
    </div>

    <div class="mySlides1 fade">
        <img class="image" src="../image/market2.jpg" style="width:100%">
    </div>

    <div class="mySlides1 fade">
        <img class="image" src="../image/market3.jpg" style="width:100%">
    </div>

    <div class="mySlides1 fade">
        <img class="image" src="../image/market4.jpg" style="width:100%">
    </div>
</div>
<div style="text-align:center">
    <span class="dot1"></span>
    <span class="dot1"></span>
    <span class="dot1"></span>
    <span class="dot1"></span>
</div>
<div class="indexContent">
    <span class="welcomeM">Confused about booking a market stall? Our website provides the simple and secure way to help you book a market stall. Besides that, the market organizers can also efficiently manage and optimize stall arrangemens with our website.</span>
    <span class="welcomeM2">Join us today to experience the simplest way to book and organize market stalls!</span>
</div>
<div id="app">
    <button class="signupSH" @click="openSHForm">Register as STALL HOLDER</button>
    <button class="signupMO" @click="openMOForm">Register as MARKET ORGANIZER</button>

    <div class="blackLayer" v-show="showFormLayer"></div>

    <div class="SHform-popup" v-show="showSHForm">
        <button type="button" class="btn cancel" @click="closeSHForm">x</button>
        <form action="/api/users/register" method="post" class="form-container">
            <h2 style="text-align: center">Registration for Stall Holder</h2>

            <label><b>First Name</b></label>
            <input type="text" placeholder="Enter your first name" name="firstName" required>

            <label style="margin-left: 25px"><b>Last Name</b></label>
            <input type="text" placeholder="Enter your last name" name="lastName" required>

<!--            <label><b>Business Name</b></label>-->
<!--            <input type="text" placeholder="Enter your business name, optional" name="businessName">-->

<!--            <label><b>ABN Number</b></label>-->
<!--            <input type="text" placeholder="Enter your ABN number, optional" name="abn">-->

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter your phone number" name="phoneNum" required>

            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your email address" name="email" required>

<!--            <label><b>Confirmed Email</b></label>-->
<!--            <input type="text" placeholder="Confirm your email address" name="email2" required>-->

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter your password" name="psw" @input="validatePasswords" required>

            <label><b>Confirmed Password </b><span v-if="psw2 != '' && passwordsMatch === false" style="color:red;">Passwords do not match</span>
            </label>
            <input type="password" placeholder="Confirm your password" name="psw2" @input="validatePasswords" required>

<!--            <span v-if="passwordsMatch === false" style="color:red;">Passwords do not match</span>-->
            <button type="submit" class="btn" @click="registerSH" :disabled="passwordsMatch === false">Register</button>
        </form>
    </div>
    <div class="MOform-popup" v-show="showMOForm">
        <button type="button" class="btn cancel" @click="closeMOForm">x</button>
        <form action="/api/users/register" method="post" class="form-container">

            <h2 style="text-align: center">Registration for Market Organizer</h2>

            <label><b>First Name</b></label>
            <input type="text" placeholder="Enter your first name" name="firstName" required>

            <label style="margin-left: 25px"><b>Last Name</b></label>
            <input type="text" placeholder="Enter your last name" name="lastName" required>

<!--            <label><b>Business Name</b></label>-->
<!--            <input type="text" placeholder="Enter your business name" name="businessName" required>-->

<!--            <label><b>ABN Number</b></label>-->
<!--            <input type="text" placeholder="Enter your ABN number" name="abn" required>-->

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter your phone number" name="phoneNum" required>

            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your email address" name="email" required>

<!--            <label><b>Confirmed Email</b></label>-->
<!--            <input type="text" placeholder="Confirm your email address" name="email2" required>-->

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter your password" name="psw" @input="validatePasswords" required>

            <label><b>Confirmed Password </b><span v-if="psw2 != '' && passwordsMatch === false" style="color:red;"> Passwords do not match</span></label>
            <input type="password" placeholder="Confirm your password" name="psw2" @input="validatePasswords" required>

<!--            <span v-if="passwordsMatch === false">Passwords do not match</span>-->
            <button type="submit" class="btn" @click="registerMO" :disabled="passwordsMatch === false">Register</button>        </form>
    </div>
</div>

<!--从templates/fragments/footer.html 引入的footer-->
<div th:replace="fragments/footer :: footer"></div>

<!--你可以在下面添加自己想添加的JavaScript-->
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides1");
        let dots = document.getElementsByClassName("dot1");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 8000); // Change image every 2 seconds
    }

    new Vue({
        el: '#app',
        data: {
            showSHForm: false,
            showMOForm: false,
            showFormLayer: false,
            passwordsMatch: null


        },
        methods: {
            validatePasswords: function() {
                const form = this.showSHForm ? document.querySelector('.SHform-popup .form-container') : document.querySelector('.MOform-popup .form-container');
                const formData = new FormData(form);
                const password = formData.get('psw');
                const confirmPassword = formData.get('psw2');

                this.passwordsMatch = (password === confirmPassword);
            },
            registerSH: function() {
                // Step 1: Capture Form Data
                const form = document.querySelector('.SHform-popup .form-container');
                const formData = new FormData(form);

                const firstName = formData.get('firstName');
                const lastName = formData.get('lastName');
                const phoneNum = formData.get('phoneNum');
                const email = formData.get('email');
                const password = formData.get('psw');

                const type = 'owner';

                // Step 2: Construct API URL
                const apiUrl = `/api/users/register?firstName=${firstName}&lastName=${lastName}&phone=${phoneNum}&email=${email}&password=${password}&type=${type}`;

                // Step 3: Make API Call
                axios.post(apiUrl)
                    .then(response => {
                        // Handle success
                        alert('Registration successful! You may login your account now!');
                        window.location.href = '/login';
                    })
                    .catch(error => {
                        // Handle error
                        window.location.href = '/login';
                        // console.error('Error updating user information:', error);
                    });
            },
            registerMO: function() {
                // Step 1: Capture Form Data
                const form = document.querySelector('.MOform-popup .form-container');
                const formData = new FormData(form);

                const firstName = formData.get('firstName');
                const lastName = formData.get('lastName');
                const phoneNum = formData.get('phoneNum');
                const email = formData.get('email');
                const password = formData.get('psw');

                const type = 'organiser';

                // Step 2: Construct API URL
                const apiUrl = `/api/users/register?firstName=${firstName}&lastName=${lastName}&phone=${phoneNum}&email=${email}&password=${password}&type=${type}`;

                // Step 3: Make API Call
                axios.post(apiUrl)
                    .then(response => {
                        // Handle success
                        // alert('Thank you for registering in our website! To keep our customers safe, there will be an approval process to confirm your given information. The approximate time of approval will be 1-5 business days. A notification will be sent to you if your registration gets approved.  Thank you for your collaboration!');
                        window.location.href = '/registerSuccess';
                    })
                    .catch(error => {
                        // Handle error
                        console.error('Error updating user information:', error);
                    });
            },
            openSHForm: function() {
                this.showSHForm = true;
                this.showFormLayer = true;

            },
            closeSHForm: function() {
                this.showSHForm = false;
                this.showFormLayer = false;

            },
            openMOForm: function() {
                this.showMOForm = true;
                this.showFormLayer = true;

            },
            closeMOForm: function() {
                this.showMOForm = false;
                this.showFormLayer = false;

            }
        }
    });
</script>

</body>
</html>