<!doctype html>
<html>
<head>
    <head th:include="fragments/header :: head"></head>
    <link href="../css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>

    <style>
        body {
            background-color: gray;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/header :: navbar"></nav>

<div id="app">
    <div class="indexContent">
        <span class="welcomeM" style="font-size: 50px; top:15%">Welcome Back</span>
    </div>
    <div class="loginFormDiv" style="top:28%">
        <form @submit.prevent="handleLogin" class="loginForm">

            <input type="email" placeholder="Enter your email address" name="email" required>

            <input type="password" placeholder="Enter your password" name="password" required>

            <button type="submit" class="btn" onclick="">LOGIN</button>
        </form>
        <span class="noAccountMsg">Doesn't have an account yet?</span>

        <button class="signupSHLogin" id="formSh" @click="openSHForm">Register as STALL HOLDER</button>
        <button class="signupMOLogin" id="formMo" @click="openMOForm">Register as MARKET ORGANIZER</button>
    </div>

    <div class="blackLayer" v-show="showFormLayer"></div>

    <div class="SHform-popup" v-show="showSHForm">
        <button type="button" class="btn cancel" @click="closeSHForm">x</button>
        <form action="/api/users/register" method="post" class="form-container">
            <h2 style="text-align: center">Registration for Stall Holder</h2>

            <label><b>First Name</b></label>
            <input type="text" placeholder="Enter your first name" name="firstName" required>

            <label style="margin-left: 25px"><b>Last Name</b></label>
            <input type="text" placeholder="Enter your last name" name="lastName" required>

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter your phone number" name="phoneNum" required>

            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your email address" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter your password" name="psw" @input="validatePasswords" required>

            <label><b>Confirmed Password </b><span v-if="psw2 != '' && passwordsMatch === false" style="color:red;">Passwords do not match</span>
            </label>
            <input type="password" placeholder="Confirm your password" name="psw2" @input="validatePasswords" required>

            <button type="submit" class="btn" @click="registerSH" :disabled="passwordsMatch === false">Register</button>
        </form>
    </div>
    <div class="MOform-popup" v-show="showMOForm">
        <button type="button" class="btn cancel" @click="closeMOForm">x</button>
        <form action="/api/users/register" method="post" class="form-container">

            <h2 style="text-align: center">Registration for Market Organizer</h2>

            <label><b>First Name</b></label>
            <input type="text" placeholder="Enter your first name" name="firstName" required>

            <label style="margin-left: 25px"><b>Last Name</b></label>
            <input type="text" placeholder="Enter your last name" name="lastName" required>

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter your phone number" name="phoneNum" required>

            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your email address" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter your password" name="psw" @input="validatePasswords" required>

            <label><b>Confirmed Password </b><span v-if="psw2 != '' && passwordsMatch === false" style="color:red;"> Passwords do not match</span></label>
            <input type="password" placeholder="Confirm your password" name="psw2" @input="validatePasswords" required>

            <button type="submit" class="btn" @click="registerMO" :disabled="passwordsMatch === false">Register</button>        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>


<script>
    new Vue({
        el: '#app',
        data: {
            showSHForm: false,
            showMOForm: false,
            showFormLayer: false,
            passwordsMatch: null


        },
        methods: {
            validatePasswords: function() {
                const form = this.showSHForm ? document.querySelector('.SHform-popup .form-container') : document.querySelector('.MOform-popup .form-container');
                const formData = new FormData(form);
                const password = formData.get('psw');
                const confirmPassword = formData.get('psw2');

                this.passwordsMatch = (password === confirmPassword);
            },
            registerSH: function() {
                const form = document.querySelector('.SHform-popup .form-container');
                const formData = new FormData(form);

                const firstName = formData.get('firstName');
                const lastName = formData.get('lastName');
                const phoneNum = formData.get('phoneNum');
                const email = formData.get('email');
                const password = formData.get('psw');

                const type = 'owner';

                const apiUrl = `/api/users/register?firstName=${firstName}&lastName=${lastName}&phone=${phoneNum}&email=${email}&password=${password}&type=${type}`;

                axios.post(apiUrl)
                    .then(response => {
                        alert('Registration successful! You may login your account now!');
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Error updating user information:', error);
                    });
            },
            registerMO: function() {
                const form = document.querySelector('.MOform-popup .form-container');
                const formData = new FormData(form);

                const firstName = formData.get('firstName');
                const lastName = formData.get('lastName');
                const phoneNum = formData.get('phoneNum');
                const email = formData.get('email');
                const password = formData.get('psw');

                const type = 'organiser';

                const apiUrl = `/api/users/register?firstName=${firstName}&lastName=${lastName}&phone=${phoneNum}&email=${email}&password=${password}&type=${type}`;

                axios.post(apiUrl)
                    .then(response => {
                        window.location.href = '/registerSuccess';
                    })
                    .catch(error => {
                        console.error('Error updating user information:', error);
                    });
            },
            handleLogin: function() {
                let formData = new FormData(document.querySelector('.loginForm'));

                axios.post('/login', formData)
                    .then((response) => {
                        let data = response.data;
                        if (data.status && data.status === "error") {
                            alert("Invalid username or password");
                            return;
                        }

                        if (data.status !== 'error') {
                            localStorage.setItem('isLoggedIn', 'true');
                            localStorage.setItem('userType', data.userType);
                        } else {
                            localStorage.setItem('isLoggedIn', 'false');
                        }

                        switch(data.userType) {
                            case "owner":
                                window.location.href = "/uhome";
                                break;
                            case "organiser":
                                window.location.href = "/ohome";
                                break;
                            case "admin":
                                window.location.href = "/ahome";
                                break;
                            default:
                                alert("Unknown user type");
                                break;
                        }
                    })
                    .catch((error) => {
                        console.error("Error during login:", error);
                        alert("There was an error during login");
                    });
            },
            openSHForm: function() {
                this.showSHForm = true;
                this.showFormLayer = true;

            },
            closeSHForm: function() {
                this.showSHForm = false;
                this.showFormLayer = false;
            },
            openMOForm: function() {
                this.showMOForm = true;
                this.showFormLayer = true;
            },
            closeMOForm: function() {
                this.showMOForm = false;
                this.showFormLayer = false;
            }
        }
    });
</script>
</body>
</html>
