<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="fragments/header :: head"></head>
    <title>Login</title>
</head>
<body>
<!--引入 templates/fragments/header.html中的navbar-->
<nav th:replace="fragments/header :: navbar"></nav>

<!--这部分是你要写的部分-->
<div class="container-fluid">
    <div id="contents-main">
        <form method="post" action="/login">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!--从templates/fragments/footer.html 引入的footer-->
<div th:replace="fragments/footer :: footer"></div>

<!--你可以在下面添加自己想添加的JavaScript-->
<script type="text/babel" src="js/index.js"></script>

</body>
</html>