<!doctype html>
<html>
<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Market Information</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>

</head>
<body>
<!--引入 templates/fragments/header.html中的navbar-->
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<!--这部分是你要写的部分-->
<div id="app">
    <span class="userHomeTitle"><a href="/marketList" class="backBtn"><</a>venueName</span>
    <div class="frameContainer">

        <div class="tab">
            <button class="tablinks" :class="{ active: currentTab === 'MarketInformation' }" @click="changeTab('MarketInformation')" style="width:33.3%; border-radius: 20px 0px 0px 0px" >Venue Information</button>
            <button class="tablinks" :class="{ active: currentTab === 'PhotoGallery' }" @click="changeTab('PhotoGallery')" style="width:33.3%">Photo Gallery</button>
            <button class="tablinks" :class="{ active: currentTab === 'StallBooking' }" @click="changeTab('StallBooking')" style="width:33.4%; border-radius: 0px 20px 0px 0px">Booking a stall</button>
        </div>

        <!-- Tab content -->
        <div v-show="currentTab === 'MarketInformation'"  class="tabcontent">
            <div class="venueDescription">description</div>
            <div class="venueAddress">Address: street, state, suburb</div>
            <div class="openHour">Open Hours: openHour</div>
            <div class="venuePrice">Estimated Stall Fee: $70</div>
            <div class="stallNumber">Total stall: stall number</div>
        </div>

        <div v-show="currentTab === 'PhotoGallery'" class="tabcontent">
            <div class="photoVenue" style='background-image: url("../image/market1.jpg")'></div>
        </div>

        <div v-show="currentTab === 'StallBooking'"  class="tabcontent" >
            <div class="selectorDate">Selected a date:
                <select v-model="selectedOptionDate">
                    <option v-for="option in optionsDate" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>

            <div class="selectorStall">Selected a stall:
                <select v-model="selectedOptionStall">
                    <option v-for="option in optionsStall" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>

            <button class="bookingConfirm" @click="openBookingForm">Confirm</button>
<!--            <button v-else class="directLogin" @click="redirectToLogin">Login to Continue</button>-->



        </div>

    </div>
    <div class="blackLayer" v-show="showLayer"></div>
    <div class="booking-popup" v-show="showBookingForm">
        <button type="button" class="btn cancel" @click="closeBookingForm">x</button>
<!--        <form action="" method="" class="bookingContainer">-->
        <form class="bookingContainer">

            <h2>Order detail</h2>

            <table class="bookingTable">
                <tr>
                    <th>Quality</th>
                    <th>Stall number</th>
                    <th>Market name</th>
                    <th>Booking date</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>01</td>
                    <td>Fairfield Markets</td>
                    <td>09/09/2023</td>
                    <td>$70</td>
                </tr>
            </table>

            <h3>Stallholder contact information</h3>
            <label class="label" for="name">Name:</label>
            <input type="text" id="name" value="Stephen Strange">

            <label class="label" for="email">Email:</label>
            <input type="text" id="email" value="asdf@gmail.com">

            <label class="label" for="phone">Phone number:</label>
            <input type="text" id="phone" value="0498682233">

            <label class="label" for="description">Description on the product you will be selling (max 300 words)</label>
            <input type="text" id="description">

            <button type="button" class="btn" @click="openPaymentForm">Book Now</button>

        </form>
    </div>

    <div class="payment-popup" v-show="showPaymentForm">
        <button type="button" class="btn cancel" @click="backBookingForm"><</button>
        <button type="button" class="btn cancel" @click="closePaymentForm">x</button>
        <form action="" method="" class="paymentContainer">
            <h2>Payment</h2>

            <table>
                <tr>
                    <th>Fee option (Check if needed, can be provided by the venue organizer)</th>
                    <th>Quality</th>
                    <th>Fee name</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td><input type="checkbox" @change="updateAdditionalFees" checked disabled></td>
                    <td>1</td>
                    <td>Basic stall booking fee</td>
                    <td>$70</td>
                    <td rowspan="2" class="totalPrice">${{ totalPrice }}</td>
                </tr>
                <tr>
                    <td><input type="checkbox" @change="updateAdditionalFees"></td>
                    <td>1</td>
                    <td>Basic stall facilities rent fee</td>
                    <td>$10</td>
                </tr>
            </table>

            <p>*Basic stall facilities include one stall tent, two tables, and four chairs.</p>

            <h3>Card details</h3>
            <label class="label" for="card-number">Card number</label>
            <input type="text" id="card-number" placeholder="Card number" style="width: 60%;">

            <br><label class="label" for="expiry">Expiry Date</label>
            <input type="text" id="expiry" placeholder="Month/Year" style="width: 20%;">

            <label class="label" for="cvv" style="margin-left: 20px;">CVV</label>
            <input type="text" id="cvv" placeholder="3 digital #" style="width: 20%;">

            <br><label class="label" for="name-card">Name on Card</label>
            <input type="text" id="name-card" placeholder="Full name" style="width: 60%;">


            <br><button type="submit" class="btn" @click="closePaymentForm">Place Order</button>

        </form>
    </div>

</div>


<!--从templates/fragments/footer.html 引入的footer-->
<div th:replace="fragments/footer :: footer"></div>

<!--你可以在下面添加自己想添加的JavaScript-->
<script>
    new Vue({
        el: '#app',
        data: {
            currentTab: 'MarketInformation',
            // isLoggedIn: localStorage.getItem('isLoggedIn') === 'true',
            // userType: localStorage.getItem('userType'),
            selectedOptionDate: '',  // This will hold the selected option value
            optionsDate: [
                { value: 'date1', text: 'date1' },
                { value: 'date2', text: 'date2' },
                { value: 'date3', text: 'date3' }
            ],
            selectedOptionStall: '',  // This will hold the selected option value
            optionsStall: [
                { value: 'stall1', text: 'stall1' },
                { value: 'stall2', text: 'stall2' },
                { value: 'stall3', text: 'stall3' }
            ],
            showLayer: false,
            showBookingForm: false,
            showPaymentForm: false,
            additionalFees: 0,
            baseFee: 70,
            facilityFee: 10,
        },
        computed: {
            totalPrice: function() {
                return this.baseFee + this.additionalFees;
            }
        },
        methods: {
            changeTab(tabName) {
                this.currentTab = tabName;
            },
            openBookingForm: function() {
                this.showBookingForm = true;
                this.showLayer = true;
            },
            closeBookingForm: function() {
                this.showBookingForm = false;
                this.showLayer = false;
            },
            openPaymentForm: function() {
                this.showBookingForm = false;
                this.showPaymentForm = true;
            },
            backBookingForm: function() {
                this.showBookingForm = true;
                this.showPaymentForm = false;
            },
            closePaymentForm: function() {
                this.showPaymentForm = false;
                this.showLayer = false;
            },
            updateAdditionalFees: function(event) {
                if (event.target.checked) {
                    this.additionalFees += this.facilityFee;
                } else {
                    this.additionalFees -= this.facilityFee;
                }
            }
            // redirectToLogin() {
            //     window.location.href = "/login";
            // }
        },
        mounted() {
        }
    });

</script>

</body>
</html>