<!doctype html>
<html>
<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Market List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-QTHpG5rvbPs5uE2QE7ucfGeXbU1g_hE&callback=initMap"></script>
</head>
<body>
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<div id="app">
    <span class="userHomeTitle">Market list</span>
    <div class="frameContainer">

        <div class="tab">
            <button class="tablinks" :class="{ active: currentTab === 'listView' }" @click="changeTab('listView')" style="border-radius: 20px 0px 0px 0px">View by List</button>
            <button class="tablinks" :class="{ active: currentTab === 'mapView' }" @click="changeTab('mapView')" style="border-radius: 0px 20px 0px 0px">View by Map</button>
        </div>

        <div v-show="currentTab === 'listView'" class="tabcontent">


            <div class="marketItemDiv">

                <div class="marketListItem" v-for="market in filteredMarkets" :key="market.id" @click="goToMarketInfo(market.id)">
                    <div class="marketListName">{{ market.name }}</div>
                    <div class="marketListSuburb">Suburb: {{ market.suburb }}</div>
                    <div class="marketListAddress">{{ market.address }}</div>
                    <div class="marketListStall">Total stall: {{ market.stall }}</div>
                    <img class="marketListImage" :src="market.image" :alt="market.name">
                </div>
            </div>
            <label>
                <input type="text" v-model="searchQuery" class="searchBox" placeholder="Search suburb..">
            </label>
        </div>

        <div v-show="currentTab === 'mapView'" class="tabcontent">

            <div id="map" style="height: 420px;"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


<script>
    function initMap() {

    }

    function setMapBounds(map, markers) {
        var bounds = new google.maps.LatLngBounds();

        markers.forEach(function(marker) {
            bounds.extend(marker.position);
        });

        map.fitBounds(bounds);
    }

    new Vue({
        el: '#app',
        data: {
            currentTab: 'listView',
            searchQuery: '',
            markets: []
        },
        computed: {
            filteredMarkets() {
                if (!this.searchQuery) {
                    return this.markets;
                }
                return this.markets.filter(market => market.suburb.toLowerCase().includes(this.searchQuery.toLowerCase()));
            }
        },
        methods: {
            changeTab(tabName) {
                this.currentTab = tabName;
            },
            getMarkets() {
                axios.get('/api/venues')
                    .then(response => {
                        this.markets = response.data;
                        let marks = [];
                        let map;
                        for(let i=0; i<this.markets.length; i++){
                            if(i===0){
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: {lat: this.markets[i].latitude, lng:  this.markets[i].longitude},
                                    zoom: 20
                                });
                            }
                            marks.push(new google.maps.Marker({
                                position: {lat: this.markets[i].latitude, lng:  this.markets[i].longitude},
                                map: map,
                                title: this.markets[i].name,
                            }));
                        }
                        setMapBounds(map, marks);
                    })
                    .catch(error => {
                        if (error.response) {
                            console.error("Error Data:", error.response.data);
                        }
                        console.error("Error fetching data:", error);
                    });
            },
            goToMarketInfo(marketId) {
                window.location.href = `/marketInfo?id=${marketId}`;
            }
        },
        mounted() {
            this.getMarkets();
        }
    });
</script>

</body>
</html>