<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<!--引入 templates/fragments/header.html中的navbar-->
<nav th:replace="fragments/header :: navbar"></nav>

<!--这部分是你要写的部分-->
<div class="container-fluid">
    <div id="contents-main">
        <div class="lead">
            <strong>Name of Events:</strong>
            <span th:text="${eventName}"></span>
        </div>
        <div id="contents">
            {{ helloWorldTest }}
            <ul>
                <li style="list-style-type:none" v-for="player in players">
                    <player-card v-bind:player="player" v-bind:key="player.id" />
                </li>
            </ul>
        </div>
    </div>
</div>

<!--从templates/fragments/footer.html 引入的footer-->
<div th:replace="fragments/footer :: footer"></div>

<!--你可以在下面添加自己想添加的JavaScript-->
<script type="text/babel" src="js/index.js"></script>

</body>
</html>