<!doctype html>
<html>
<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Market Information</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>

</head>
<body>
<!--引入 templates/fragments/header.html中的navbar-->
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<!--这部分是你要写的部分-->
<div id="app">
    <span class="userHomeTitle"><a href="/marketList" class="backBtn"><</a>{{marketInfo.name}}</span>
    <div class="frameContainer">

        <div class="tab">
<!--            <button class="tablinks" :class="{ active: currentTab === 'MarketInformation' }" @click="changeTab('MarketInformation')" style="width:33.3%; border-radius: 20px 0px 0px 0px" >Venue Information</button>-->
<!--            <button class="tablinks" :class="{ active: currentTab === 'PhotoGallery' }" @click="changeTab('PhotoGallery')" style="width:33.3%">Photo Gallery</button>-->
<!--            <button class="tablinks" :class="{ active: currentTab === 'StallBooking' }" @click="changeTab('StallBooking')" style="width:33.4%; border-radius: 0px 20px 0px 0px">Booking a stall</button>-->
            <button class="tablinks" :class="{ active: currentTab === 'MarketInformation' }" @click="changeTab('MarketInformation')" :style="getTabStyle('MarketInformation')">Venue Information</button>
            <button class="tablinks" :class="{ active: currentTab === 'PhotoGallery' }" @click="changeTab('PhotoGallery')" :style="getTabStyle('PhotoGallery')">Photo Gallery</button>
            <button v-if="userInfo.type === 'owner'" class="tablinks" :class="{ active: currentTab === 'StallBooking' }" @click="changeTab('StallBooking')" :style="getTabStyle('StallBooking')">Booking a stall</button>
        </div>

        <!-- Tab content -->
        <div v-show="currentTab === 'MarketInformation'"  class="tabcontent">
            <div class="venueDescription">{{marketInfo.description}}</div>
            <div class="venueAddress">{{marketInfo.address}}</div>
<!--            <div class="openHour">Open Hours: openHour</div>-->
            <div class="venuePrice">Estimated Stall Fee: ${{marketInfo.stall_price}}</div>
            <div class="stallNumber">Total stall: {{marketInfo.stall}}</div>
        </div>

        <div v-show="currentTab === 'PhotoGallery'" class="tabcontent">
            <div class="photoVenue" style='background-image: url("../image/marketTest.jpg")'></div>
<!--            <div class="photoVenue" :style="'background-image: url(../image/' + marketInfo.image + ')'"></div>-->
        </div>

        <div v-show="currentTab === 'StallBooking'"  class="tabcontent" >
            <div class="selectorDate">Selected a date:
                <select v-model="selectedOptionDate.value">
                    <option v-for="option in optionsDate" :value="option.value">{{ option.text }}</option>
                </select>

<!--                <input type="date" v-model="selectedOptionDate.value" id="datePickerS" name="datePickerS" value="2023-11-10" style="width:12%; margin-left: 10px" required>-->

            </div>

            <div class="selectorStall">Selected a stall:
                <select v-model="selectedOptionStall.value">
                    <option v-for="option in optionsStall" :value="option.value">{{ option.text }}</option>
                </select>
            </div>

            <button class="bookingConfirm" @click="openBookingForm">Confirm</button>
<!--            <button v-else class="directLogin" @click="redirectToLogin">Login to Continue</button>-->



        </div>

    </div>
    <div class="blackLayer" v-show="showLayer"></div>
    <div class="booking-popup" v-show="showBookingForm">
        <button type="button" class="btn cancel" @click="closeBookingForm">x</button>
<!--        <form action="" method="" class="bookingContainer">-->
        <form class="bookingContainer">

            <h2>Order detail</h2>

            <table class="bookingTable">
                <tr>
                    <th>Quality</th>
                    <th>Stall number</th>
                    <th>Market name</th>
                    <th>Booking date</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{ selectedOptionStall.text }}</td>
                    <td>{{ marketInfo.name }}</td>
                    <td>{{ selectedOptionDate.text }}</td>
                    <td>${{ selectedStallPrice }}</td>
                </tr>
            </table>

            <h3>Stallholder contact information</h3>
            <label class="label" for="name">Name:</label>
            <input type="text" id="name" :value="userInfo.first_name+' '+userInfo.last_name">

            <label class="label" for="email">Email:</label>
            <input type="text" id="email" :value="userInfo.userEmail">

            <label class="label" for="phone">Phone number:</label>
            <input type="text" id="phone" :value="userInfo.phone">

            <label class="label" for="description">Description on the product you will be selling (max 300 words)</label>
            <input type="text" id="description" required>

            <button type="submit" class="btn" @click="openPaymentForm">Book Now</button>

        </form>
    </div>

    <div class="payment-popup" v-show="showPaymentForm">
        <button type="button" class="btn cancel" @click="backBookingForm"><</button>
        <button type="button" class="btn cancel" @click="closePaymentForm">x</button>
        <form action="" method="" class="paymentContainer">
            <h2>Payment</h2>

            <table>
                <tr>
                    <th>Fee option (Check if needed, can be provided by the venue organizer)</th>
                    <th>Quality</th>
                    <th>Fee name</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td><input type="checkbox" @change="updateAdditionalFees" checked disabled></td>
                    <td>1</td>
                    <td>Basic stall booking fee</td>
                    <td>${{ selectedStallPrice }}</td>
                    <td rowspan="2" class="totalPrice">${{ totalPrice }}</td>
                </tr>
                <tr>
                    <td><input type="checkbox" @change="updateAdditionalFees"></td>
                    <td>1</td>
                    <td>Basic stall facilities rent fee</td>
                    <td>$50</td>
                </tr>
            </table>

            <p>*Basic stall facilities include one stall tent, two tables, and four chairs.</p>

            <h3>Card details</h3>
            <label class="label" for="card-number">Card number</label>
            <input type="text" id="card-number" placeholder="Card number" style="width: 60%;" required>

            <br><label class="label" for="expiry">Expiry Date</label>
            <input type="text" id="expiry" placeholder="Month/Year" style="width: 20%;" required>

            <label class="label" for="cvv" style="margin-left: 20px;">CVV</label>
            <input type="text" id="cvv" placeholder="3 digital #" style="width: 20%;" required>

            <br><label class="label" for="name-card">Name on Card</label>
            <input type="text" id="name-card" placeholder="Full name" style="width: 60%;" required>


            <br><button type="submit" class="btn" @click="closePaymentForm">Place Order</button>

        </form>
    </div>

</div>


<!--从templates/fragments/footer.html 引入的footer-->
<div th:replace="fragments/footer :: footer"></div>

<!--你可以在下面添加自己想添加的JavaScript-->
<script>
    new Vue({
        el: '#app',
        data: {
            currentTab: 'MarketInformation',
            marketInfo: '',
            venueInfo:'',
            userInfo:'',
            optionsStall: [],
            // isLoggedIn: localStorage.getItem('isLoggedIn') === 'true',
            // userType: localStorage.getItem('userType'),
            selectedOptionDate: {
                text: '',  // Default initial value
                value: ''
            },
            selectedOptionStall: {
                text: '',  // Default initial value
                value: ''
            },
            optionsDate: [],
            showLayer: false,
            showBookingForm: false,
            showPaymentForm: false,
            additionalFees: 0,
            facilityFee: 50,
        },
        computed: {
            baseFee() {
                return this.selectedStallPrice;
            },
            totalPrice: function() {
                return this.baseFee + this.additionalFees;
            },
            selectedStallPrice() {
                if (this.marketInfo.stalls) {
                    const selectedStall = this.marketInfo.stalls.find(stall => stall.id === this.selectedOptionStall.value);
                    return selectedStall ? selectedStall.price : 0;
                }
                return 0;
            }
        },
        methods: {
            getUserInfo(){
                axios.get('/api/users/getCurrentUserInfo') // Make sure the URL is correct
                    .then(response => {
                        this.userInfo = response.data;
                    })
                    .catch(error => {
                        this.error = "Error fetching welcome message.";
                        console.error("Error fetching welcome message:", error);
                    });
            },
            changeTab(tabName) {
                this.currentTab = tabName;
            },
            getTabStyle(tabName) {
                let baseStyle = 'width: 33.328%';
                if (this.userInfo.type !== 'owner') {
                    baseStyle = 'width: 50%';
                }

                if (tabName === 'MarketInformation') {
                    return `${baseStyle}; border-radius: 20px 0px 0px 0px`;
                } else if (this.userInfo.type === 'owner' && tabName === 'StallBooking') {
                    return `${baseStyle}; border-radius: 0px 20px 0px 0px`;
                } else if (this.userInfo.type !== 'owner' && tabName === 'PhotoGallery') {
                    return `${baseStyle}; border-radius: 0px 20px 0px 0px`;
                } else {
                    return baseStyle;
                }
            },
            fetchMarketData(marketId) {
                axios.get(`/api/venues/venueByVenueId?venueID=${marketId}`)
                    .then(response => {
                        // 使用响应数据来更新Vue实例的数据
                        this.marketInfo = response.data;
                        this.optionsStall = this.marketInfo.stalls.map(stall => ({
                            value: stall.id,
                            text: stall.stallId
                        }));
                    })
                    .catch(error => {
                        console.error("Error fetching data:", error);
                    });
            },
            fetchMarketData2(marketId) {
                axios.get(`/api/venueDate?venueId=${marketId}`)
                    .then(response => {
                        // Use the response data to update the Vue instance's data
                        this.venueInfo = response.data;

                        // Populate optionsDate with the dateSlot values
                        this.optionsDate = this.venueInfo.map(item => ({
                            value: item.dateSlot,
                            text: item.dateSlot
                        }));

                        // Set the default selected date to the first available date
                        if (this.optionsDate.length > 0) {
                            this.selectedOptionDate.value = this.optionsDate[0].value;
                            this.selectedOptionDate.text = this.optionsDate[0].text;
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching data:", error);
                    });
            },
            openBookingForm: function() {
                this.showBookingForm = true;
                this.showLayer = true;
            },
            closeBookingForm: function() {
                this.showBookingForm = false;
                this.showLayer = false;
            },
            openPaymentForm: function() {
                this.showBookingForm = false;
                this.showPaymentForm = true;
            },
            backBookingForm: function() {
                this.showBookingForm = true;
                this.showPaymentForm = false;
            },
            closePaymentForm() {
                const stallId = this.selectedOptionStall.value; // Assuming this is the stall ID
                axios.post(`/api/bookings?stallDateId=${stallId}`, {
                    // Your payload here. For example:
                    // name: this.userInfo.first_name,
                    // email: this.userInfo.userEmail,
                    // ...other data
                })
                    .then(response => {
                        // Handle success
                        console.log("Booking successful:", response);
                    })
                    .catch(error => {
                        // Handle error
                        console.error("Booking failed:", error);
                    });
                this.showPaymentForm = false;
                this.showLayer = false;
            },
            updateAdditionalFees: function(event) {
                if (event.target.checked) {
                    this.additionalFees += this.facilityFee;
                } else {
                    this.additionalFees -= this.facilityFee;
                }
            }
            // redirectToLogin() {
            //     window.location.href = "/login";
            // }
        },
        watch: {
            'selectedOptionStall.value': function(newVal) {
                const selected = this.optionsStall.find(option => option.value === newVal);
                if (selected) {
                    this.selectedOptionStall.text = selected.text;
                }
            },
            'selectedOptionDate.value': function(newVal) {
                const selected = this.optionsDate.find(option => option.value === newVal);
                if (selected) {
                    this.selectedOptionDate.text = selected.text;
                }
                // this.selectedOptionDate.text = newVal;
            }
        },
        mounted() {
            this.getUserInfo();
            let params = new URLSearchParams(window.location.search);
            let marketId = params.get('id');

            this.fetchMarketData(marketId);
            this.fetchMarketData2(marketId);

        }
    });

</script>

</body>
</html>