<!doctype html>
<html>

<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Market Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-QTHpG5rvbPs5uE2QE7ucfGeXbU1g_hE&callback=initMap"></script>

</head>

<body>
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<div id="app">
    <span class="userHomeTitle">Market list</span>

    <div class="frameContainerR">
        <div class="tab">
            <button class="tablinks" :class="{ active: currentTab === 'listView' }" @click="changeTab('listView')" style="border-radius: 20px 0px 0px 0px">View by List</button>
            <button class="tablinks" :class="{ active: currentTab === 'mapView' }" @click="changeTab('mapView')" style="border-radius: 0px 20px 0px 0px">View by Map</button>
        </div>

        <div v-show="currentTab === 'listView'" class="tabcontent">
            <div class="marketItemDiv2" style="top:10%;">
                <div class="marketItem" v-for="market in markets" :key="market.id">
                    <div class="orderNum">Venue #{{ market.id }}</div>
                    <div class="marketStall">{{ market.name }}</div>
                    <!--            <div class="dateAddress">Crown St, Surry Hills NSW 2010 </div>-->
                    <button type="button" class="marketReview" @click="openREForm(market)">View or Edit Market Detail</button>
                    <br>
                    <div class="userline"></div>
                </div>
            </div>

        </div>
        <div v-show="currentTab === 'mapView'" class="tabcontent">
            <!--            <form @submit.prevent="searchMarkets">-->
            <!--                <input type="text" v-model="searchQuery" class="searchBox" placeholder="Search suburb..">-->
            <!--            </form>-->
            <div id="map" style="height: 420px;"></div>
        </div>
    </div>

    <div class="blackLayer" v-show="showFormLayer"></div>

    <div class="reviewA-popup" v-show="showReviewForm">
        <button type="button" class="btn cancel" @click="closeREForm">x</button>
        <br><label>Venue #{{ currentMarket.id }}</label><br>
        <label>Venue name:
            <input type="text" v-model="updatedInfo.name" name="venueName" id="venueName"  />
        </label><br>
        <label>Venue street:
            <input type="text" v-model="updatedInfo.street" name="venueStreet" id="venueStreet"  />
        </label><br>
        <label>Venue suburb:
            <input type="text" v-model="updatedInfo.suburb" name="venueSuburb" id="venueSuburb"  />
        </label><br>
        <label>Venue state:
            <input type="text" v-model="updatedInfo.state" name="venueState" id="venueState"  />
        </label><br>
        <label>Venue image:
            <input type="text" v-model="updatedInfo.image" name="venueImage" id="venueImage"  />
        </label><br>
        <label>Total Stall: {{ currentMarket.stall }}</label>
        <button type="submit" class="updateButton" @click="updateMarketInformation" style="width:120px;position: absolute;left:40%">UPDATE</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script>

    function setMapBounds(map, markers) {
        var bounds = new google.maps.LatLngBounds();

        markers.forEach(function(marker) {
            bounds.extend(marker.position);
        });

        map.fitBounds(bounds);
    }

    new Vue({
        el: '#app',
        data: {
            currentTab: 'listView',
            markets:[],
            currentMarket: {},
            showReviewForm: false,
            showFormLayer: false,
            updatedInfo: {}

        },
        methods: {
            changeTab(tabName) {
                this.currentTab = tabName;
            },
            getMarkets() {
                axios.get('/api/venues') // Make sure the URL is correct
                    .then(response => {
                        this.markets = response.data;
                        let marks = [];
                        let map;
                        for(let i=0; i<this.markets.length; i++){
                            if(i===0){
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: {lat: this.markets[i].latitude, lng:  this.markets[i].longitude},
                                    zoom: 20
                                });
                            }
                            marks.push(new google.maps.Marker({
                                position: {lat: this.markets[i].latitude, lng:  this.markets[i].longitude},
                                map: map,
                                title: this.markets[i].name,
                            }));
                        }
                        setMapBounds(map, marks);
                    })
                    .catch(error => {
                        if (error.response) {
                            console.error("Error Data:", error.response.data);
                        }
                        console.error("Error fetching data:", error);
                    });
            },
            goToMarketInfo(marketId) {
                // 使用Vue Router 或者直接window.location进行页面跳转
                window.location.href = `/marketInfo?id=${marketId}`;
            },
            openREForm: function(market) {  // 添加参数
                this.currentMarket = market;  // 保存当前的market
                this.showReviewForm = true;
                this.showFormLayer = true;
            },
            closeREForm: function() {
                this.showReviewForm = false;
                this.showFormLayer = false;
            },
            updateMarketInformation: function() {
                // Step 1: Capture Form Data
                const venueId = this.currentMarket.id;
                const latitude = this.currentMarket.latitude;
                const longitude = this.currentMarket.longitude;
                const description = this.currentMarket.description;
                const picture = this.updatedInfo.image;
                const state = this.updatedInfo.state;
                const street = this.updatedInfo.street;
                const suburb = this.updatedInfo.suburb;
                const venueName = this.updatedInfo.name;

                // Step 2: Construct API URL
                const apiUrl = `/api/venues?venueId=${venueId}&latitude=${latitude}&longitude=${longitude}&description=${description}&picture=${picture}&state=${state}&street=${street}&suburb=${suburb}&venueName=${venueName}`;

                // Step 3: Make API Call
                axios.put(apiUrl)
                    .then(response => {
                        // Handle success
                        alert('Venue information updated successfully!');
                    })
                    .catch(error => {
                        // Handle error
                        console.error('Error updating venue information:', error);
                        alert('Error updating venue information!');

                    });
            }
        },
        mounted() {
            this.getMarkets();
        },
        watch: {
            currentMarket: {
                immediate: true,  // Run the handler immediately after the watcher is created
                handler: function(newVal) {
                    this.updatedInfo = JSON.parse(JSON.stringify(newVal));  // Deep copy
                }
            }
        }
    });
</script>

</body>

</html>