<!doctype html>
<html>
<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account Setting Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>

</head>
<body>
<!--引入 templates/fragments/header.html中的navbar-->
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<!--这部分是你要写的部分-->
<div id="app">
    <span class="title">Profile Detail</span>
    <div class="frameContainer">
        <div class="topSetting">
            <span class="userName">{{userInfo.first_name}} {{userInfo.last_name}}</span>
            <span class="userGroup">{{userInfo.type}}</span>
            <span class="userID">Account#{{userInfo.userEmail}}</span>
        </div>
        <div class="line"></div>
        <div class="settingForm">
            <form action="#" class="setting-form">
                <!--    need to modify-->
                <label>First Name</label>
                <input type="text" placeholder="first name" name="firstName" :value="userInfo.first_name" required>

                <label style="margin-left: 25px">Last Name</label>
                <input type="text" placeholder="last name" name="lastName" :value="userInfo.last_name" required>

                <label>Business Name</label>
                <input type="text" placeholder="Enter your business name, optional" name="businessName">

                <label>ABN Number</label>
                <input type="text" placeholder="Enter your ABN number, optional" name="abn">

                <label>Phone number</label>
                <input type="text" placeholder="phone number" name="phoneNum" :value="userInfo.phone" required>

                <label>Email</label>
                <input type="text" placeholder="email address" name="email" :value="userInfo.userEmail" required>

                <!--        <label><b>Confirmed Email</b></label>-->
                <!--        <input type="text" placeholder="Confirm your email address" name="email2" required>-->

                <!--        <label><b>Password</b></label>-->
                <!--        <input type="password" placeholder="Enter your password" name="psw" onChange="onChange()" required>-->

                <!--        <label><b>Confirmed Password</b></label>-->
                <!--        <input type="password" placeholder="Confirm your password" name="psw2" onChange="onChange()" required>-->

                <!--    need to modify-->
            </form>
        </div>
        <div class="pswForm-setting" v-show="pswForm">
            <form action="#" class="psw-form">
                <label><b>New Password</b></label>
                <input type="password" placeholder="Enter your new password" name="psw" onChange="onChange()" required>

                <label><b>Confirmed Password</b></label>
                <input type="password" placeholder="Confirm your password" name="psw2" onChange="onChange()" required>

                <button class="confirmPsw" @click="closePswForm">Confirm</button>
            </form>
        </div>

        <button class="pswChangeBtn" @click="openPswForm">Change Password</button>
        <button type="submit" class="updateButton" onclick="">UPDATE</button>
    </div>
</div>

<!--从templates/fragments/footer.html 引入的footer-->
<div th:replace="fragments/footer :: footer"></div>

<!--你可以在下面添加自己想添加的JavaScript-->
<script>
    new Vue({
        el: '#app',
        data: {
            pswForm: false,
            userInfo:''
        },
        methods: {
            getUserInfo(){
                axios.get('/api/users/getCurrentUserInfo') // Make sure the URL is correct
                    .then(response => {
                        this.userInfo = response.data;
                    })
                    .catch(error => {
                        this.error = "Error fetching welcome message.";
                        console.error("Error fetching welcome message:", error);
                    });
            },
            openPswForm: function() {
                this.pswForm = true;

            },
            closePswForm: function() {
                this.pswForm = false;
            }
        },
        mounted() {
            this.getUserInfo();
        }
    });
    // function onChange() {
    //     const password = document.querySelector('input[name=psw]');
    //     const confirm = document.querySelector('input[name=psw2]');
    //     if (confirm.value === password.value) {
    //         confirm.setCustomValidity('');
    //     } else {
    //         confirm.setCustomValidity('Passwords do not match');
    //     }
    // }

    // function openPswForm() {
    //     document.getElementById("pswForm").style.display = "block";
    // }
    // function closePswForm() {
    //     document.getElementById("pswForm").style.display = "none";
    // }

</script>

</body>
</html>