<!doctype html>
<html>
<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Userhome Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>

</head>
<body>
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<div id="vueApp">

    <div class="container-md">
        <span class="userHomeTitle">Welcome Back, {{ welcome.first_name }} {{ welcome.last_name }}</span>

        <div class="frameContainer">

            <div class="tab">
                <button class="tablinks" :class="{ active: currentTab === 'RegistrationReview' }" @click="changeTab('RegistrationReview')" style="width:33.3%;border-radius: 20px 0px 0px 0px">Registration Review</button>
                <button class="tablinks" :class="{ active: currentTab === 'ActiveBooking' }" @click="changeTab('ActiveBooking')" style="width:33.3%">Active Booking</button>
                <button class="tablinks" :class="{ active: currentTab === 'BookingHistory' }" @click="changeTab('BookingHistory')" style="width:33.4%;border-radius: 0px 20px 0px 0px">Booking History</button>
            </div>

            <div v-show="currentTab === 'RegistrationReview'" class="tabcontent">
                <div class="frame">
                    <div v-for="organiser in organisers" :key="organiser.organiserId" class="bookingItem">
                        <div class="orderNum">Account#{{ organiser.organiserEmail }}</div>
                        <div class="marketStall">{{ organiser.first_name }} {{ organiser.last_name }}</div>
                        <button v-if="organiser.status === 'active'" type="button" id="review2" class="reviewBtn2" @click="openREOneForm(organiser)">View Registration Detail</button>

                        <template v-if="organiser.status === 'pending'">
                            <button type="button" id="review" class="reviewBtn" @click="openREOneForm(organiser)">View Registration Detail</button>
                            <button type="button" id="approve" class="approveBtn" @click="approveOrganiser(organiser.organiserId)">Approve</button>
                            <button type="button" id="deny" class="denyBtn" @click="denyClick">Deny</button>
                        </template>

                        <button v-if="organiser.status === 'deny'" type="button" id="deny2" class="denyBtn2" @click="denyClick">Denied</button>
                        <br><div class="userline"></div>
                    </div>
                </div>


            </div>

            <div v-show="currentTab === 'ActiveBooking'" class="tabcontent">
                <div class="frame">
                    <div v-for="booking in activeBookings" :key="booking.id" class="bookingItem">
                        <div class="orderNum">Order #{{ booking.id }}, Account#{{ booking.userEmail }}</div>
                        <div class="marketStall">{{ booking.venueName }}, Stall #{{ booking.stallId }}</div>
                        <div class="dateAddress">{{ booking.dateSlot }} · {{ booking.address }}</div>
                        <div class="price">${{ booking.totalPrice }}</div>
                        <button type="submit" class="viewBtn" @click="openREForm(booking)">View Order Detail</button>
                        <button type="submit" class="cancelBtn" @click="cancelBooking(booking.id)">Cancel Order</button>
                        <br><div class="userline"></div>
                    </div>
                </div>

            </div>

            <div v-show="currentTab === 'BookingHistory'" class="tabcontent" style="display: none">
                <div class="frame">
                    <div v-for="booking in bookingHistory" :key="booking.id" class="bookingHistoryItem">
                        <div class="orderNum">Order #{{ booking.id }}, Account#{{ booking.userEmail }}</div>
                        <div class="marketStall">{{ booking.venueName }}, Stall #{{ booking.stallId }}</div>
                        <div class="dateAddress">{{ booking.dateSlot }} · {{ booking.address }}</div>
                        <div class="priceHistory">${{ booking.totalPrice }}</div>
                        <button type="submit" class="viewBtn2" @click="openREForm(booking)">View Order Detail</button>
                        <br><div class="userline"></div>
                    </div>
                </div>

            </div>



        </div>

    </div>

    <div class="blackLayer" v-show="showFormLayer"></div>

    <div class="reviewM-popup" v-show="showReviewForm">
        <button type="button" class="btn cancel" @click="closeREForm">x</button>
        <br><span>Order #{{ currentBooking.id }}</span><br>
        <span>Account#{{ currentBooking.userEmail }}</span><br>
        <span>Venue name: {{ currentBooking.venueName }}, Stall #{{ currentBooking.stallId }}</span><br>
        <span>Venue address: {{ currentBooking.address }}</span><br>
        <span>Booking proceed date: {{ currentBooking.dateSlot }}</span><br>
        <span>Payment price: ${{ currentBooking.totalPrice }}</span><br>
        <span>Order placed date: {{ currentBooking.bookingTime }}</span><br>
        <span>Order status: {{ currentBooking.status }}</span>
    </div>

    <div class="reviewM-popup" v-show="showReviewOneForm">
        <button type="button" class="btn cancel" @click="closeREOneForm">x</button>
        <br><span>Account#{{ currentOrganiser.organiserEmail }}</span><br>
        <span>First Name: {{ currentOrganiser.first_name }}</span><br>
        <span>Last Name: {{ currentOrganiser.last_name }}</span><br>
        <span>Phone: {{ currentOrganiser.phone }}</span><br>
        <span>Account status: {{ currentOrganiser.status }}</span>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
<script>
    new Vue({
        el: '#vueApp',
        data: {
            welcome:'',
            currentTab: 'RegistrationReview',
            bookings:[],
            organisers:[],
            currentBooking: {},
            currentOrganiser: {},
            showReviewForm: false,
            showReviewOneForm: false,
            showFormLayer: false,
        },
        methods: {
            changeTab(tabName) {
                this.currentTab = tabName;
            },
            welcomeMsg(){
                axios.get('/api/users/getCurrentUserInfo')
                    .then(response => {
                        this.welcome = response.data;
                    })
                    .catch(error => {
                        this.error = "Error fetching welcome message.";
                        console.error("Error fetching welcome message:", error);
                    });
            },
            getBookings() {
                axios.get('/api/bookings/user/allBookingHistory')
                    .then(response => {
                        this.bookings = response.data;
                    })
                    .catch(error => {
                        this.error = "Error fetching booking data.";
                        console.error("Error fetching data:", error);
                    });
            },
            getOrganisers() {
                axios.get('/api/users/organisers')
                    .then(response => {
                        this.organisers = response.data;
                    })
                    .catch(error => {
                        this.error = "Error fetching booking data.";
                        console.error("Error fetching data:", error);
                    });
            },
            cancelBooking(bookingId) {
                axios.delete(`/api/bookings?bookingId=${bookingId}`)
                    .then(response => {
                        this.getBookings();
                    })
                    .catch(error => {
                        this.error = "Error cancelling the booking.";
                        console.error("Error cancelling booking:", error);
                    });
            },
            openREForm: function(booking) {
                this.currentBooking = booking;
                this.showReviewForm = true;
                this.showFormLayer = true;
            },
            closeREForm: function() {
                this.showReviewForm = false;
                this.showFormLayer = false;
            },
            openREOneForm: function(organiser) {
                this.currentOrganiser = organiser;
                this.showReviewOneForm = true;
                this.showFormLayer = true;
            },
            closeREOneForm: function() {
                this.showReviewOneForm = false;
                this.showFormLayer = false;
            },
            approveOrganiser(organiserId) {
                axios.put(`/api/users/organisers/approve?userID=${organiserId}`)
                    .then(response => {
                        const index = this.organisers.findIndex(org => org.organiserId === organiserId);

                        if (index !== -1) {
                            this.organisers[index].status = 'active';
                        }
                    })
                    .catch(error => {
                        console.error("Error approving the organiser:", error);
                    });
            },
            denyClick: function() {
                this.isApproveVisible = false;
                this.isDenyVisible = false;
            },
            approveFormClick: function() {
                this.isReviewVisible = false;
                this.isLayerVisible = false;
                this.isApproveVisible = false;
                this.isDenyVisible = false;
            },
            denyFormClick: function() {
                this.isReviewVisible = false;
                this.isLayerVisible = false;
                this.isApproveVisible = false;
                this.isDenyVisible = false;
            }
        },
        computed: {
            activeBookings() {
                return this.bookings[0] || [];
            },
            bookingHistory() {
                return this.bookings[1] || [];
            }
        },
        mounted() {
            this.welcomeMsg();
            this.getBookings();
            this.getOrganisers();
        }
    });
</script>


</body>
</html>