<!doctype html>
<html>
<head>
    <link href="../css/styles.css" rel="stylesheet" />
    <head th:include="fragments/headerLogged :: head"></head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Userhome Organizer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
</head>
<body>
<nav th:replace="fragments/headerLogged :: navbar"></nav>

<div id="app">
    <span class="userHomeTitle">Welcome Back, {{ welcome.first_name }} {{ welcome.last_name }}</span>

    <div class="frameContainer">

        <div class="tab">
            <button class="tablinks" :class="{ active: currentTab === 'VenueInformation' }" @click="changeTab('VenueInformation')" style="width:33.3%; border-radius: 20px 0px 0px 0px" >Venue Information</button>
            <button class="tablinks" :class="{ active: currentTab === 'PhotoGallery' }" @click="changeTab('PhotoGallery')" style="width:33.3%">Photo Gallery</button>
            <button class="tablinks" :class="{ active: currentTab === 'StallInformation' }" @click="changeTab('StallInformation')" style="width:33.4%; border-radius: 0px 20px 0px 0px">Stall Management</button>
        </div>

        <div v-show="currentTab === 'VenueInformation'" class="tabcontent">

            <div class="marketForm" >
                <label>Venue Name:</label>
                <input type="text" v-model="updatedInfo.name" name="venueName" id="venueName" style="width:87.8%; margin-left: 10px" required />

                <label>Address: </label>
                <input type="text" id="addressInput" v-model="updatedInfo.address" placeholder="Enter an address" name="addressM" />




                <br><label>Brief introduction of the Venue:</label>
                <textarea name="venueInfo" v-model="updatedInfo.description" id="venueInfo" style="height:120px;white-space: pre-wrap;" required>
                      </textarea>

                <button type="button" class="updateButton1" @click="updateMarketInformation">UPDATE INFO</button>

            </div>


        </div>

        <div v-show="currentTab === 'PhotoGallery'" class="tabcontent">
            <span class="photoText">Update photo of Venue to let others have a better knowledge of the Venue:</span>
            <input type="text" v-model="updatedInfo.image"   name="photoLink" class="photoLink" placeholder="Enter the link of photo..">
            <button type="submit" class="updateButton" @click="updateMarketInformation">UPDATE</button>
        </div>

        <div v-show="currentTab === 'StallInformation'" class="tabcontent" style="display: none; font-size: 18px">
            <div class="stallForm-setting" >
                <form action="#" class="stall-form">
                    <h5>Add a stall</h5>
                    <label><b>Stall ID</b></label>
                    <input type="text" placeholder="Enter the id for this stall" name="stallID"  required>

                    <label><b>Stall Price</b></label>
                    <input type="text" placeholder="Enter the price for this stall" name="stallPrice" required>

                    <button class="confirmAddStall" @click="addStallToVenue">Add</button>
                </form>
                <h5 style="position: absolute; right:20%;top:8%">Current stalls:</h5>
                <div class="stallFrame">
                    <table>
                        <tr>
                            <th>Stall ID</th>
                            <th>Price</th>
                        </tr>
                        <tr v-for="stall in stalls" :key="stall.stallId">
                            <td>{{stall.stallId}}</td>
                            <td>{{stall.price}}</td>
                        </tr>
                    </table>

                </div>
                <button type="button" class="updateButton3" @click="showTimeForm">UPDATE TIME</button>

            </div>

        </div>



    </div>
    <div class="blackLayer" v-show="showFormLayer"></div>
    <div class="reviewB-popup"  v-show="showTimeChange">
        <button type="button" class="btn cancel" @click="closeTimeForm()">x</button>

        <br><label style="margin-left: 50px">Start Date:</label>
        <input type="date" v-model="startDate" style="width:20%; margin-left: 10px" required>

        <label>- End Date:</label>
        <input type="date" v-model="endDate" style="width:20%; margin-left: 10px" required>

        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Monday"> Mon</label>
        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Tuesday"> Tue</label>
        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Wednesday"> Wed</label>
        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Thursday"> Thu</label>
        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Friday"> Fri</label>
        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Saturday" checked> Sat</label>
        <label style="margin-left: 5px"><input type="checkbox"  v-model="selectedWeekdays" value="Sunday"> Sun</label>
        <br><button type="button" class="updateButton2" @click="getVenueData();closeTimeForm()">Confirm</button>

    </div>

</div>



<div th:replace="fragments/footer :: footer"></div>
<script>
    new Vue({
        el: '#app',
        data: {
            welcome: '',
            marketInfo:{},
            stalls:[],
            currentTab: 'VenueInformation',
            updatedInfo: {},
            startDate: '2023-10-10',
            endDate: '2023-10-17',
            selectedWeekdays: [],
            showTimeChange: false,
            showFormLayer:false
        },
        methods: {
            changeTab(tabName) {
                this.currentTab = tabName;
            },
            welcomeMsg() {
                axios.get('/api/users/getCurrentUserInfo')
                    .then(response => {
                        this.welcome = response.data;
                    })
                    .catch(error => {
                        this.error = "Error fetching welcome message.";
                        console.error("Error fetching welcome message:", error);
                    });
            },
            showTimeForm:function(){
                this.showTimeChange=true;
                this.showFormLayer=true;
            },
            closeTimeForm: function(){
                this.showTimeChange=false;
                this.showFormLayer=false;
            },
            getMarketInfo() {
                axios.get('/api/venues/venueByCurrentUser')
                    .then(response => {
                        this.marketInfo = response.data [0];
                    })
                    .then(() => {
                        this.getStallInfo();
                    })
                    .catch(error => {
                        this.error = "Error fetching market Information.";
                        console.error("Error fetching market Information:", error);
                    });
            },
            getStallInfo() {
                const venueID = this.marketInfo.id;
                axios.get(`/api/venues/venueByVenueId?venueID=${venueID}`)
                    .then(response => {
                        this.stalls = response.data.stalls;
                    })
                    .catch(error => {
                        this.error = "Error fetching stallInfo.";
                        console.error("Error fetching stallInfo:", error);
                    });
            },
            addStallToVenue() {
                console.log("addStallToVenue function called");

                const stallName = document.querySelector('input[name=stallID]').value;
                const price = document.querySelector('input[name=stallPrice]').value;
                const venueId = this.marketInfo.id;

                const apiUrl = `/api/stalls?venueId=${venueId}&price=${price}&stallName=${stallName}`;

                axios.post(apiUrl)
                    .then(response => {
                        alert('Stall added successfully!');
                        this.getStallInfo();
                    })
                    .catch(error => {
                        console.error('Error adding stall:', error);
                    });
            },
            generateRequestBody() {
                const startDate = new Date(this.startDate);
                const endDate = new Date(this.endDate);
                const selectedWeekdays = this.selectedWeekdays;
                const requestBody = [];

                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                for (let d = new Date(startDate); d <= endDate; d.setDate(d.getDate() + 1)) {
                    // Convert the date to its weekday string
                    const weekdayStr = weekdays[d.getDay()];
                    if (selectedWeekdays.includes(weekdayStr)) {
                        const year = d.getFullYear();
                        const month = String(d.getMonth() + 1).padStart(2, '0');
                        const day = String(d.getDate()).padStart(2, '0');
                        requestBody.push(`${year}-${month}-${day}`);
                    }
                }

                return requestBody;
            },
            updateMarketInformation: function() {
                const venueId = this.marketInfo.id;
                const description = this.updatedInfo.description;
                const picture = this.updatedInfo.image;
                const venueName = this.updatedInfo.name;

                const latitude = venue.latitude != null? venue.latitude:this.marketInfo.latitude;
                const longitude = venue.longitude != null? venue.longitude:this.marketInfo.longitude;
                const state = venue.state != null? venue.state:this.marketInfo.state;
                const street = venue.street != null? venue.street:this.marketInfo.street;
                const suburb = venue.suburb != null? venue.suburb:this.marketInfo.suburb;

                console.log('venue:',venue);

                const apiUrl = `/api/venues?venueId=${venueId}&latitude=${latitude}&longitude=${longitude}&description=${description}&picture=${picture}&state=${state}&street=${street}&suburb=${suburb}&venueName=${venueName}`;

                axios.put(apiUrl)
                    .then(response => {
                        alert('Venue information updated successfully!');
                    })
                    .catch(error => {
                        console.error('Error updating venue information:', error);
                        alert('Error updating venue information!');

                    });

            },
            async getVenueData() {
                const venueId = this.marketInfo.id;
                const requestBody = this.generateRequestBody();
                try {
                    const response = await axios.post(`/api/venueDate?venueId=${venueId}`, requestBody);
                    console.log("API Response:", response.data);
                    alert('Venue time updated successfully!');

                } catch (error) {
                    console.log("API Error:", error);
                }
            }
        },
        mounted() {
            this.welcomeMsg();
            this.getMarketInfo();
        },
        watch: {
            marketInfo: {
                immediate: true,
                handler: function(newVal) {
                    this.updatedInfo = JSON.parse(JSON.stringify(newVal));
                }
            }
        }
    });
</script>
<script>
    var venue = {};
    function initAutocomplete() {
        const input = document.getElementById('addressInput');
        const autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function() {
            const place = autocomplete.getPlace();
            if (!place.geometry) {
                alert("No details available for input: '" + place.name + "'");
                return;
            }

            const latitude = place.geometry.location.lat();
            const longitude = place.geometry.location.lng();

            console.log('Latitude:', latitude);
            console.log('Longitude:', longitude);
            venue.latitude = latitude;
            venue.longitude = longitude;
            getPlaceDetails(place.place_id);

        });
    }

    function getPlaceDetails(placeId) {
        var input = document.getElementById('addressInput');
        var service = new google.maps.places.PlacesService(input);


        service.getDetails({
            placeId: placeId
        }, function(place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                const address = extractAddressDetails(place);
                venue.state = address.state;
                venue.street = address.street;
                venue.suburb = address.suburb;
            }
        });
    }

    function extractAddressDetails(place) {
        var state = "";
        var street = "";
        var suburb = "";

        for (var i = 0; i < place.address_components.length; i++) {
            var component = place.address_components[i];
            var types = component.types;

            if (types.indexOf('administrative_area_level_1') !== -1) {
                state = component.long_name;
            }

            if (types.indexOf('street_number') !== -1) {
                street = component.long_name;
            }

            if (types.indexOf('route') !== -1) {
                street += ' ' + component.long_name;
            }

            if (types.indexOf('locality') !== -1 ||
                types.indexOf('sublocality') !== -1 ||
                types.indexOf('sublocality_level_1') !== -1) {
                suburb = component.long_name;
            }
        }

        venue.state = state;
        venue.street = street.trim();
        venue.suburb = suburb;

        return {
            state: state,
            street: street.trim(),
            suburb: suburb
        };
    }

    function submitVenue(){
        venue.venueName = $('#venueName').val();
        venue.description = $('#venueInfo').val();
        axios.post('/api/venues', venue)
            .then(response => {
                console.log(response);
                alert("Venue added to DB.");
            })
            .catch(error => {
                alert("Venue update failed.");
            });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-QTHpG5rvbPs5uE2QE7ucfGeXbU1g_hE&libraries=places&callback=initAutocomplete"></script>

</body>
</html>